name: Build Rust

on:
  push:
    tags:
      - "v*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --release

      - name: Rename executable
        run: mv target/release/noita-saves.exe target/release/NoitaSaves.exe

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/NoitaSaves.exe
          token: ${{ secrets.RELEASE_GITHUB_TOKEN }}
